@import "mixins";

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &>li, &>.grid-item {
        display: flex;
        align-items: left;
        margin: 10px;
    }
}

.card-list {
    position: relative;
    width: 100%;
    margin: 20px 0; 
    font-size: 20px;

    .card {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        width: 250px;
        padding: 20px;
        background: #fff;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
        border-radius: 3px;

        &>a {
            color: #222;
            text-decoration: none;
            border: 0;
            transition: color .2s;

            img {
                border: none;
            }

            &:hover {
                color: #f58c3a;
            }
        }

        .card-image {
            width: auto;
            max-width: 250px;
            height: 250px;
            border: none;
            border-radius: 3px;
            margin: 0 auto;
            display: block;
        }

        .card-info {
            display: block;
            width: 100%;
            li {
                display: inline;
                font-size: 0.7em;
                color: #444;
                &:not(:first-child) {
                    margin-left: 8px;
                }
                &:last-child {
                    border: solid 1px rgba(0, 0, 0, 0.1);
                    border-radius: 3px;
                    padding: 1px 4px;
                }
            }
        }
        
    }
}


ul.pagination {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid 1px #ddd;
    border-radius: 4px;

    &>li {
        flex: 1;
        border: none;
        padding: 5px 10px;
        text-align: center;
        transition: background-color 0.2;

        &.active {
            border: solid 1px #222!important;
            background: #222!important;
            color: #f58c3a;
        }

        &:hover {
            background: #eee;
        }

        &:not(:first-child) {
            border-left: solid 1px #ddd;
        }

        &:not(.disabled) {
            cursor: pointer;
        }
    }
}