.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &>li, &>.grid-item {
        display: flex;
        align-items: center;
        margin: 10px;
    }
}

.card-list {
    width: 100%;
    margin: 20px 0; 
    font-size: 20px;

    .card {
        margin: 20px 0;
        width: 250px;
        padding: 20px;
        background: #f3f3f3;

        .card-image {
            width: 150px;
            height: 150px;
            border-radius: 3px;
            margin: 0 auto;
            display: block;
        }
        
    }
}