@import "mixins";

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &>li, &>.grid-item {
        display: flex;
        align-items: left;
        margin: 10px;
    }
    
    @include breakpoint(1130px) {
        &::after {
            content: '';
            flex: auto;
        }
    }
}

.card-list {
    width: 100%;
    margin: 20px 0; 
    font-size: 20px;

    .card {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        width: 250px;
        padding: 20px;
        background: #fff;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
        border-radius: 3px;

        &>a {
            color: #222;
            text-decoration: none;
            border: 0;
            transition: color .2s;

            img {
                border: none;
            }

            &:hover {
                color: #f58c3a;
            }
        }

        .card-image {
            width: auto;
            height: 250px;
            border: none;
            border-radius: 3px;
            margin: 0 auto;
            display: block;
        }

        .card-info {
            display: block;
            width: 100%;
            li {
                display: inline;
                font-size: 0.7em;
                color: #444;
                &:not(:first-child) {
                    margin-left: 8px;
                }
                &:last-child {
                    border: solid 1px rgba(0, 0, 0, 0.1);
                    border-radius: 3px;
                    padding: 1px 4px;
                }
            }
        }
        
    }
}