@import "mixins";

// Contents

// 1. Base
// 2. Breakpoints
// 3. Layout




// 1. Base

html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden; 
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

// 2. Responsive Breakpoints

$xxs: 420px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;



// 3. Layouts

#app {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 3rem;
    width: 100%;
    background: #000;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    
    &>* {
        height: 100%;
        display: flex;
        overflow-y: auto;
    }
    
    &>.sidebar {
        $sidebar-width: 240px;

        flex-shrink: 0;
        width: $sidebar-width;
        background-color: #f0f0f0;
        transform: translateX(-$sidebar-width);
        transition: transform .3s;

        @include breakpoint($sm) {
            border: solid 1px #ff3434;
            transform: translateX(0);
        }
    }

    &>.main {
        flex-grow: 1;
    }
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}